<div class="bg-warning sticky-top">
<h1 class=" text-center" style="font-size:60px;">Polluted air plagues cities worldwide</h1>

<nav class="nav nav-pills nav-justified bg-warning navbar-dark ">

    <li class="nav-item active ">
      <b><a class="nav-link" style="font-size:25px; color: black;" href="#">Home</a></b>
    </li>
    <li class="nav-item">
      <b><a class="nav-link " style="font-size:25px; color: black;" href="/relazione">Relazione</a></b>
    </li>
    <li class="nav-item ">
      <b><a class="nav-link" style="font-size:25px; color: black;" href="/grafico">Grafico</a></b>
    </li>

</nav>
</div>

<div class="jumbotron text-center bg-success">
  <img height= "500px" src="/assets/air-pollution.jpg " class="rounded" >
  <br>
  <br>
<b><p>Uno dei principali problemi che siamo costretti ad affrontare è quello legato all’inquinamento che affligge l’aria delle città in tutto il mondo.
La popolazione urbana rappresenta più della metà di tutte le persone in tutto il mondo, avendo superato per la prima volta la popolazione rurale nel 2007. Si prevede che la popolazione urbana globale, attualmente a quota 4,2 miliardi aumenterà di 3,3 miliardi entro il 2035.
L'inquinamento atmosferico uccide circa sette milioni di persone in tutto il mondo ogni anno.Una ricerca dell’'OMS (organizzazione mondiale della sanità) ha mostrato che 9 persone su 10 respirano aria che supera i limiti dei livelli di inquinamento.
PM (Particulate Matter) è il termine generico con il quale si definisce un mix di particelle solide e liquide chiamate particolato, che si trovano nell’aria.
 <br><br></p></b>
<img height= "500px" src="/assets/ap2.png " class="rounded" >


<br><br><b><p>
Il PM può avere origine sia da fenomeni naturali per esempio l’erosione del suolo o incendi sia, principalmente, da attività antropiche come i processi di combustione
Una fonte comune di inquinamento atmosferico è il particolato fine, ovvero le particelle con un diametro di 2,5 micron o con PM inferiore a 2.5, costituite da polvere, sporco, fumo e metalli pesanti. Le loro piccole dimensioni le rendono particolarmente pericolose perché possono penetrare nel tratto respiratorio, causando cancro ai polmoni, ictus, malattie cardiache e altre gravi malattie.
Per ridurre gli impatti negativi a lungo termine derivanti dall'esposizione al PM 2.5 , le linee guida dell'OMS raccomandano un limite medio annuo di 10 microgrammi per metro cubo . Nel 2017, il 91% della popolazione mondiale viveva in luoghi che superano i 10 microgrammi per metro cubo.
Nel 2017, il 91% della popolazione mondiale viveva in luoghi che superano i 10 microgrammi per metro cubo.
</p></b>
 </div>
