<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Movies</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active ">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/relazione">Relazione</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/grafico">Grafico</a>
    </li>
  </ul>
</nav>


<div class="jumbotron text-center">
<p>Uno dei principali problemi che siamo costretti ad affrontare è quello legato all’inquinamento che affligge l’aria delle città in tutto il mondo.
La popolazione urbana rappresenta più della metà di tutte le persone in tutto il mondo, avendo superato per la prima volta la popolazione rurale nel 2007. Si prevede che la popolazione urbana globale, attualmente a quota 4,2 miliardi aumenterà di 3,3 miliardi entro il 2035.
L'inquinamento atmosferico uccide circa sette milioni di persone in tutto il mondo ogni anno.Una ricerca dell’'OMS (organizzazione mondiale della sanità) ha mostrato che 9 persone su 10 respirano aria che supera i limiti dei livelli di inquinamento.
PM (Particulate Matter) è il termine generico con il quale si definisce un mix di particelle solide e liquide chiamate particolato, che si trovano nell’aria. Il PM può avere origine sia da fenomeni naturali per esempio l’erosione del suolo o incendi sia, principalmente, da attività antropiche come i processi di combustione
Una fonte comune di inquinamento atmosferico è il particolato fine, ovvero le particelle con un diametro di 2,5 micron o con PM inferiore a 2.5, costituite da polvere, sporco, fumo e metalli pesanti. Le loro piccole dimensioni le rendono particolarmente pericolose perché possono penetrare nel tratto respiratorio, causando cancro ai polmoni, ictus, malattie cardiache e altre gravi malattie.
Per ridurre gli impatti negativi a lungo termine derivanti dall'esposizione al PM 2.5 , le linee guida dell'OMS raccomandano un limite medio annuo di 10 microgrammi per metro cubo . Nel 2017, il 91% della popolazione mondiale viveva in luoghi che superano i 10 microgrammi per metro cubo.
Nel 2017, il 91% della popolazione mondiale viveva in luoghi che superano i 10 microgrammi per metro cubo.
 </p>
 </div>
</body>
</html>

