<div class="bg-warning">
<h1 class=" text-center" style="font-size:60px;">Polluted air plagues cities worldwide</h1>
<nav class="nav nav-pills nav-justified bg-warning navbar-dark ">

    <li class="nav-item active ">
      <b><a class="nav-link" style="font-size:25px; color: black;" href="#">Home</a></b>
    </li>
    <li class="nav-item">
      <b><a class="nav-link " style="font-size:25px; color: black;" href="/relazione">Relazione</a></b>
    </li>
    <li class="nav-item ">
      <b><a class="nav-link" style="font-size:25px; color: black;" href="/grafico">Grafico</a></b>
    </li>

</nav>
</div>


<div class="jumbotron text-center bg-success ">
<div *ngFor="let graph of chartDataArray">
  <google-chart [title]="graph.title" [type]="graph.type" [data]="graph.data">
  </google-chart>
</div>
</div>

