<div class="bg-warning sticky-top">
<h1 class=" text-center" style="font-size:60px;">Polluted air plagues cities worldwide</h1>
<nav class="nav nav-pills nav-justified bg-warning navbar-dark ">

    <li class="nav-item active ">
      <b><a class="nav-link" style="font-size:25px; color: black;" href="#">Home</a></b>
    </li>
    <li class="nav-item">
      <b><a class="nav-link " style="font-size:25px; color: black;" href="/relazione">Relazione</a></b>
    </li>
    <li class="nav-item ">
      <b><a class="nav-link" style="font-size:25px; color: black;" href="/grafico">Grafico</a></b>
    </li>

</nav>
</div>

<div class="container-fluid mx-auto">
  <br><br>
  <div class="row">

    <div class="col-6">
      <select [(ngModel)]="selectedOption" style="display: inline; float:left;">
        <option *ngFor="let o of options1">
            {{o.name}}
        </option>
      </select>

      <button (click)="submit()" type="button" class="btn btn-primary ml-2" style="display: inline; float:left;">Search</button><br><br>

      <google-chart *ngIf="chartData.length>0" [options]="options" [type]="chartType" [data]="chartData" [width]="width" [height]="height"></google-chart>

    </div>

    <div class="col-6">
      <select [(ngModel)]="selectedOption2" style="display: inline; float:left;">
        <option *ngFor="let o of options2">
            {{o.name}}
        </option>
      </select>

      <button (click)="submit2()" type="button" class="btn btn-primary ml-2" style="display: inline; float:left;">Search</button><br><br>

      <google-chart *ngIf="chartData2.length>0" [type]="chartType2" [data]="chartData2" [width]="width" [height]="height"></google-chart>

    </div>

  </div>

</div>
